<% # TODO: page title (Choose a Standup) %>
<% @standups.each do |standup| %>
      <h1><%= link_to standup.title, standup %></h1>
<% end %>
<%= link_to('New Standup'.html_safe, new_standup_path, remote: true) %>
<div class="panel-holder"></div>
