WORDPRESS_BLOG_HOST=http://example.com
WORDPRESS_BASIC_AUTH_USER=user
WORDPRESS_BASIC_AUTH_PASSWORD=password
WORDPRESS_XMLRPC_ENDPOINT_PATH=/wordpress/xmlrpc.php
WORDPRESS_USER=user
WORDPRESS_PASSWORD=password
