@media (min-width: 768px) {
  // when navbar is fixed add padding to body

  body {
    padding: 60px 0;
  }

  .navbar-fixed-top, .navbar-fixed-bottom{
    position: fixed;
  }

  .kind {
    margin: 0 10px;
  }

  .navbar.bottom {
    .navbar-form, .btn {
      width: auto;
      box-sizing: content-box;
    }
    .navbar-form input{
      width: auto;

      &.wide-input{
        width: 300px;
      }
    }
  }

}