// big office display without proper interface shouldn't show any interactive features
@media (min-width: 3840px) {
  .bottom.navbar form, .kind i {
    display: none;
  }

  .kind {
    h2 {
      line-height: 90px;
      font-size: 80px;
    }
  }
}
