  <div class='control-group'>
    <%= f.label :date, class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :date, value: item.date || Date.today, "data-date-format" => "yyyy-mm-dd" %>
    </div>
  </div>
