/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree ./media
 */

@import "bootstrap";
@import "bootstrap-responsive";
@import 'font-awesome';
@import "compass/css3/box";

body{
  color: #5D5C5C;
}

a:hover {
  text-decoration: none;
}

.navbar i {
  font-size: 19px;
}


.outer {
  @include display-box;
  @include box-orient(vertical);
  @include box-pack(top);
  @include box-align(top);

  height: 100%;
  width: 100%;
  margin-top: -18px;
}

.standup {
  @include display-box;
  @include box-orient(vertical);
  @include box-pack(top);
  @include box-align(top);
}

.two-wide {
  @include display-box;
  @include box-orient(vertical);
  @include box-pack(top);
  @include box-align(top);
  @include box-flex(1);
  width: 100%;
}

.kind {
  width: 100%;
  height: 100%;
  margin: 0;

  @include display-box;
  @include box-orient(vertical);
  @include box-pack(top);
  @include box-flex(1);
}

.subtitle {
  padding: 3px 8px 4px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 4px;
  color: #666;
}

.block {
  @include display-box;
  @include box-orient(horizontal);

  padding: 8px;

  &.header {
    border-bottom: 1px solid #ccc;
    padding-top: 4px;
    padding-bottom: 4px;
    position: relative;
  }

  &.errors {
    @include box-orient(vertical);

    ul {
      @include display-box;
    }
  }

  h1 {
    padding-bottom: 8px;
    text-transform: uppercase;
  }

  h2{
    text-transform: uppercase;
  }
  a {
    @include display-box;
  }

  i.icon-plus-sign {
    position: absolute;
    right: 0;
    line-height: 1.5em;
    color: #08C;
    font-size: 2.5rem;
  }

  .field_with_errors {
    @include display-box;
    @include box-flex(1);
  }
}

.item {
  @include display-box;
  @include box-orient(vertical);
  position: relative;
  font-size: 1rem;
  line-height: 1.2rem;

  .author {
    padding-bottom: 8px;
    color: #aaa;
  }

  .title {
    padding-bottom: 8px;
  }
}

.description {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 8px;
  margin-bottom: 8px;

  color: #444;
  font-size: .8rem;
}

.with-hint {
  @include box-orient(vertical);
}

.hint {
  padding: 8px 8px 0 8px;;
  color: #777;
  font-style: italic;
}

.tools {
  @include display-box;
  @include box-orient(horizontal);
  @include box-align(center);
  @include box-pack(justify);

  position: absolute;
  top: 5px;
  right: 5px;
  padding-bottom: 8px;

  a {
    margin: 0 0 0 10px;
  }

  i {
    font-size: 20px;
  }
}

//.spacer {
//  @include display-box;
//  @include box-flex(1);
//}

.preview pre {
  background-color: white;
}

.control-group i {
  font-size: 28px;
  line-height: 28px;
}

.navbar.bottom {
  .navbar-form, .btn {
    width: 100%;
    box-sizing: border-box;
  }

  .navbar-form input{
    width: 100%;
  }
}
.navbar-fixed-bottom .navbar-inner {
  padding: 5px;
}

.notice {
  font-style: italic;
  color: #FF8080;
}

