/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 //TODO: Put this back
 //*= require_tree ./media
 */

//@import "bootstrap";
//@import "bootstrap-responsive";
@import 'font-awesome';
@import "compass/css3/box";
@import 'sass-flex-mixin';
$navbar_height: 94px;

* {
  font-family: "Lekton", sans-serif;
  color: #000000;
}

a, a:hover {
  text-decoration: none;
}

.styled-input {
  border-radius: 0;
  color: #000000;
  font-size: 16px;
  padding: 10px 15px;
  border: 2px solid #000000;
  background: none;
  &.error {
    border-color: #ff0000;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @extend .styled-input;
  &::-ms-expand {
    display: none;
  }
}

option {
  @extend .styled-input;
  background: #ffffff;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #ffffff inset;
  -webkit-text-fill-color: #000000;
}

input[type='text'] {
  @extend .styled-input;
  padding: 0 15px;
}

textarea {
  @extend .styled-input;
  padding: 15px 15px 0;
  resize: none;
}

input[type='submit'] {
  @extend .styled-input;
}

label.required:after {
  content: '*';
}

/* Navbar */
.navbar {
  height: $navbar_height;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-bottom {
  bottom: 0;
}

.navbar-inner {
  padding: 25px;
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-between);
  &.navbar-main {
    @include justify-content(flex-end);
  }
  .back-navigation {
    background: image-url('back-arrow-blue.png') no-repeat center;
    background-size: 50px auto;
    height: 44px;
    width: 54px;
  }
  .action-wrapper {
    @include flexbox;
    @include flex-direction(row);
    @include justify-content(space-between);
    .action {
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      text-transform: uppercase;
      color: #0000ff;
      border: 2px solid #0000ff;
      height: 20px;
      min-width: 20px;
      padding: 10px;
      &.action-text {
        font-size: 17px;
      }
      &.action-icon {
        background: no-repeat center;
        &:not(:first-child) {
          margin-left: 5px;
        }
        &:not(:last-child) {
          margin-right: 5px;
        }
        &.presentation {
          background-image: image-url('presentation-blue.png');
          background-size: 24px;
          background-position: center 65%;
        }
        &.archived {
          background-image: image-url('archived-blue.png');
          background-size: 24px;
        }
        &.settings {
          background-image: image-url('settings-blue.png');
          background-size: 20px;
        }
      }
    }
  }
}

.outer {
  padding: $navbar_height 0;
}

.alert {
  border-radius: 5px;
  padding: 15px;
  &.alert-success {
    color: #699062;
    background-color: #E8F1DD;
  }
  &.alert-error {

  }
}

.standup-title {
  &.for-items {
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
  }
}

$item_kind_section_spacing_margin: 5px;
.item-kind-sections {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
}

.item-kind-section {
  @include flexbox;
  @include flex-basis(100%);
  @include flex-grow(1);
  @include flex-direction(column);
  &:not(:first-child) {
    margin-top: $item_kind_section_spacing_margin;
  }
  &:not(:last-child) {
    margin-bottom: $item_kind_section_spacing_margin;
  }
}

@media(min-width:768px) {
  .item-kind-sections {
    @include flex-direction(row);
  }
  .item-kind-section {
    &:not(:first-child) {
      margin-top: 0;
      margin-left: $item_kind_section_spacing_margin;
    }
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: $item_kind_section_spacing_margin;
    }
  }
}

.item-kind-heading {
  @include flexbox;
  font-size: 19px;
  text-transform: uppercase;
  border-bottom: 3px solid #000000;
  padding-bottom: 5px;
  position: relative;
  &:hover {
    border-bottom-width: 5px;
    padding-bottom: 3px;
    &:after {
      content: '+';
      color: #0000ff;
      font-size: 20px;
      position:absolute;
      right: 10px;
    }
  }
}

.item-kind-subheading {
  font-style: italic;
  padding: 10px 0 5px;
  border-bottom: 1px dotted #000000;
}

.item-group-heading {
  font-size: 19px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px 0 0;
}

.item-presentation {
  @include flexbox;
  @include flex-direction(column);
  padding: 15px 0;
  border-bottom: 1px solid #000000;
  &.expandable {
    padding-bottom: 0;
  }
  &:hover {
    border-bottom-width: 2px;
    &:not(.expandable) {
      padding-bottom: 14px;
    }
  }
  .item-author {
    color: #D5D5D5;
    padding-bottom: 5px;
  }
  .item-title {}
  .item-description {
    font-size: 13px;
    &.closed {
      display: none;
    }
  }
  .item-description-expander {
    height: 24px;
    padding-bottom: 1px;
    @include flexbox;
    @include flex-grow(1);
    background: image-url('chevron-up-blue.png') no-repeat center;
    background-size: 12px;
    &.closed {
      background-image: image-url('chevron-down-blue.png');
    }
    :hover > & {
      padding-bottom: 0;
    }
  }
}

.panel-holder {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  padding: 50px;
  background: #000000;
  * {
    color: #ffffff;
  }
}

.panel-top-container {
  @include flexbox;
  @include justify-content(flex-start);
}

.panel-close {
  height: 30px;
  width: 30px;
  padding: 2px;
  background: image-url('close-white.png') no-repeat center;
  background-size: 35px;
  cursor: pointer;
}

.panel-title {
  font-size: 35px;
  padding-left: 40px;
  padding-top: 2px;
}

.panel-form {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(flex-start);
  padding-top: 30px;
  label {
    font-size: 12px;
    &.error {
      color: #ff0000;
    }
  }
  select,
  input[type='text'],
  input[type='submit'],
  textarea {
    height: 43px;
    @include flexbox;
    margin-top: 5px;
    color: #ffffff;
    border-color: #ffffff;
    &.error {
      border-color: #ff0000;
    }
  }
  input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #000000 inset;
    -webkit-text-fill-color: #ffffff;
  }
  textarea {
    height: 86px;
  }
  option {
    color: #ffffff;
    background: #000000;
  }
}

.panel-row {
  @include flexbox;
  @include flex-grow(1);
  @include flex-direction(row);
  @include justify-content(space-between);
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &.button-row {
    @include justify-content(flex-start);
  }
}
.panel-column {
  $column_spacing: 10px;
  @include flexbox;
  @include flex-grow(1);
  @include flex-direction(column);
  &:not(:first-child) {
    margin-left: $column_spacing;
  }
  &:not(:last-child) {
    margin-right: $column_spacing;
  }
  .button-row > & {
    @include flex-grow(0);
  }
  &.date:first-child {
    @include flex-grow(0);
    @include flex-basis(48%);
  }
}

.datepicker {
  @include flexbox;
  @include flex-direction(row);
  @include justify-content(space-around);
  border: 1px solid #ffffff;
  * {
    color: #ffffff;
  }
}