/*
 *= require_self
 *= require core/deck.core
 *= require themes/style/swiss
 *= require extensions/hash/deck.hash
*/

@import "bootstrap";
@import "bootstrap-responsive";
@import 'font-awesome';
@import "compass/css3/box";

i {
  color: #08C;
  font-size: 28px;
  line-height: 28px;
}

.slide h1 {
  font-size: 9em !important;
}

.slide ul {
  font-size: 200% !important;
}

.ui-tooltip {
  font-size: 16px !important;
}

section > .footer {
  display: none;
}

section.deck-current .titles {
  border-bottom: 3px solid #888;
  margin-bottom: .66666em;

  h2 {
    margin: 0 !important;
    border-bottom: none !important;
  }

  .subtitle {
    padding: 3px 8px 4px 0px;
    margin-bottom: 4px;
    color: #999;
    font-size: 80%;
  }
}

section.deck-current > .footer{
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 24px;
  font-size: 26px !important;

  & > p {
    float: right;
    margin-right: 10px !important;
    padding: 0 4px !important;
    background: white;
  }
}

.deck-container .slide a {
  color: #fff !important;
}

.deck-container .slide i {
  font-family: FontAwesome;
}

.deck-container .slide .countdown {
  font-size: 125px;
}
